<div ng-controller="ReportController as rCtrl">
    <div class="col-lg-12">
                <h2 class="page-header ">
                    <span class="inline-style">اطلاعات تمام خرید و فروش ها</span>
                    <!--<button class="btn btn-secondary btn-default" ng-click="ctrl.getDataSymbol()">به روز رسانی</button>-->
                </h2>
            </div>

            <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            <hr />
            <div id="demo" class="collapse">
                <div class="form-bottom contact-form">
                    <form class="form-inline" role="form">
                        <label id="title">اطلاعات خریدار</label>
                        <div class="form-group">
                            <label for="filter">نام کاربری</label>
                            <input ng-model="buyerID"  class="form-control" type="text" />
                            <label for="filter">نام</label>
                            <input ng-model="buyerName"  class="form-control" type="text" />
                            <label for="filter">نام خانوادگی</label>
                            <input ng-model="buyerFamily"  class="form-control" type="text" />
                            <label for="filter">موجودی</label>
                            <input ng-model="sbuyerBalance" class="form-control" type="text" placeholder="...از" />
                            <input ng-model="ebuyerBalance" class="form-control" type="text" placeholder="...تا" />
                        </div>
                        <hr />
                        <label id="title">اطلاعات فروشنده</label>
                        <div class="form-group">
                            <label for="filter">نام کاربری</label>
                            <input ng-model="sellerID"  class="form-control" type="text" />
                            <label for="filter">نام</label>
                            <input ng-model="sellerName" class="form-control" type="text" />
                            <label for="filter">نام خانوادگی</label>
                            <input ng-model="sellerFamily"  class="form-control" type="text" />
                            <label for="filter">موجودی</label>
                            <input ng-model="ssellerBalance" class="form-control" type="text" placeholder="...از" />
                            <input ng-model="esellerBalance" class="form-control" type="text" placeholder="...تا" />
                        </div>
                        <hr />
                        <label id="title">اطلاعات تراکنش</label>
                        <div class="form-group">
                            <label for="filter">نام سهام</label>
                            <input ng-model="instrument"  class="form-control" type="text" />
                            <label for="filter">نوع درخواست</label>
                            <input ng-model="type" class="form-control" type="text" />
                            <br />
                            <label for="filter">مقدار سهام</label>
                            <input ng-model="startQuantity" class="form-control" type="text" placeholder="...از" />
                            <input ng-model="endQuantity" class="form-control" type="text" placeholder="...تا" />
                            <br />
                            <label for="filter">قیمت</label>
                            <input ng-model="startPrice" class="form-control" type="text" placeholder="...از" />
                            <input ng-model="endPrice" class="form-control" type="text" placeholder="...تا" />
                            
                            <label for="filter">تاریخ</label>
                            <input ng-model="startDate" class="form-control" type="date" placeholder="...از" />
                            <input ng-model="endDate" class="form-control" type="date" placeholder="...تا" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary"
                                ng-click="ctrl.search(buyerID,buyerName,buyerFamily,sbuyerBalance,ebuyerBalance,sellerID,sellerName,sellerFamily,ssellerBalance,esellerBalance,instrument,type,startQuantity,endQuantity,startPrice,endPrice,startDate,endDate)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>


            <table class="table table-striped table-bordered table-hover table-condensed table table-condensed" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>ردیف</th>
                        <th>خریدار</th>
                        <th>فروشنده</th>
                        <th>نام سهام</th>
                        <th>مقدار سهام</th>
                        <th>قیمت</th>
                        <th>نوع درخواست</th>
                        <th>زمان ثبت</th>
                    </tr>
                </thead>
                <tbody ng-repeat="transaction in transactions">
                    <tr data-toggle="collapse" data-target="#{{transaction.TR_ID}}" class="accordion-toggle">
                        <td><button class="btn btn-default btn-xs"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                        <td>{{transaction.TR_ID}}</td>
                        <td>{{transaction.BUYER}}</td>
                        <td>{{transaction.SELLER}}</td>
                        <td>{{transaction.INSTRUMENT}}</td>
                        <td>{{transaction.QUANTITY}}</td>
                        <td>{{transaction.PRICE}}</td>
                        <td>{{transaction.TYPEOFTRADE}}</td>
                        <td>{{transaction.TTIME}}</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="{{transaction.TR_ID}}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>نام خریدار</td>
                                            <td>نام خانوادگی خریدار</td>
                                            <td>موجودی خریدار</td>
                                            <td>نام فروشنده</td>
                                            <td>نام خانوادگی فروشنده</td>
                                            <td>موجودی فروشنده</td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{transaction.BUYERNAME}}</td>
                                            <td>{{transaction.BUYERFAMILY}}</td>
                                            <td>{{transaction.BUYERBALANCE}}</td>
                                            <td>{{transaction.SELLERNAME}}</td>
                                            <td>{{transaction.SELLERFAMILY}}</td>
                                            <td>{{transaction.SELLERBALANCE}}</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
</div>
